@model IEnumerable<shared.Models.Ator>
@using System.Security.Claims
@using Microsoft.AspNetCore.Identity
@inject UserManager<context.Entities.User> UserManager

@{
    string role = User.IsInRole("Curador") ? "Curador" :
                  User.IsInRole("Utilizador") ? "Utilizador" : "Visitante";

    // Gets the user from the user manager and then searches for the full name
    var appUser = await UserManager.GetUserAsync(User);
    string nome = appUser?.NomeCompleto
                  ?? User.FindFirstValue(ClaimTypes.Name)
                  ?? User.Identity?.Name
                  ?? "Visitante";
}


<h2>Lista de Atores</h2>
<a class="nav-link" asp-action="Create">Registar Ator</a>
@if (!Model.Any())
{
    <p>Nenhum ator encontrado.</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Data de Nascimento</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ator in Model)
            {
                <tr>
                    <td>@ator.Nome</td>
                    <td>@ator.DataNasc.ToString("dd/MM/yyyy")</td>
                    <td>
                        <a asp-action="Details" asp-route-id="@ator.Id">Detalhes</a> 
                        @if (role == "Curador")
                        {
                            @:|
                            <a asp-action="Edit" asp-route-id="@ator.Id">Editar</a> @:|
                            <a asp-action="Delete" asp-route-id="@ator.Id">Apagar</a>
                        }                        
                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
