@model IEnumerable<shared.Models.Filme>

<h1>Lista de Filmes</h1>

<table class="table">
    <thead>
        <tr>
            <th>Título</th>
            <th>Ano de lançamento</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var filme in Model)
        {
            <tr>
                <td>@filme.Titulo</td>
                <td>@filme.DataLancamento</td>
                <td>
                    <a asp-action="Details" asp-route-id="@filme.Id">Detalhes</a> |
                    <a asp-action="Edit" asp-route-id="@filme.Id">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@filme.Id">Apagar</a>
                </td>
            </tr>
        }
    </tbody>
</table>


